.navigation {
    border: 2px solid #f33;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: black;
    margin-bottom: 200px;
    
}


/* main {
    background-color: #f33;
    /* height: 50vh; view height
    width: 50vw; view width */
} */

a.button {
    /* text-decoration: none;
    background-color: green;
    width: 140px;
    height:50px;
    line-height:50px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    color: yellow;
    border: 2px solid;
    border-radius: 4px; */
    background-color: green;
    text-decoration: none;
    font-display: inline-block;
    padding: 20px 20px;
    border: 2px solid;
    border-radius: 4px; 
    font-size: 24px;
}