.navigation {
    border: 2px solid #f33;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: black;
    margin-bottom: 200px;
    
}


.row img {
    width: 100%;
}

footer {
    height: 200px;
    background-color: black;
    color: white;
    padding-top: 30px;
    
}

.footer-link{
    color: white;
    display: block;
    text-transform: capitalize;
    margin-bottom: 5px;

}

.footer img {
    width: 50%;
}