.navigation {
    border: 2px solid #f33;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: black;
    margin-bottom: 200px;
    
}

.photo-1 {
    float: left;
    margin: 10px;
}

.photo-2 {
    float: right;
    margin: 10px;
}