.container {
    max-width: 1200px;     
    margin: 0 auto;
    padding: 0 20px /*Adds white space when the screen gets small*/
}

.col-6 {
    /*6 of 12*/
    width: 50%;
    float: left;
    padding: 0 5px;
    
}

.clearfix {
    clear: both;
}

.row {
    margin-bottom: 30px;

}

.col-3 {
    float: left;
    width: 25%;
    padding: 0 5px;
}

.col-2 {
    float: left;
    /*6/100*/
    width: 16.66%;
    padding: 0 5px;
}

.col-4 {
    float: left;
    width: 33.33%;
    padding: 0 5px;
    border: 2px none white;
    
}